@import "tailwindcss";


@theme {
  --default-font-family: "Open Sans", serif;

  --color-gray-100: #1f2523;
  --color-gray-200: #4d5c57;
  --color-gray-300: #cdd5d2;
  --color-gray-400: #e4ece9;
  --color-gray-500: #f9fbfa;

  --color-green-100: #1f8459;
  --color-green-200: #2cb178;

  --text-xxs: 0.625rem;
}

select {
  appearance: none;
  background-image: url("./assets/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.25rem auto;
}

@layer utilities {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 0.4px; /* total width */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e4ece9; /* color of the scroll thumb */
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll thumb on hover */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: 0.4rem; /* "auto" or "thin" */
    scrollbar-color: #e4ece9 transparent; /* thumb and track color */
  }
} 



